@font-face {
	font-family: 'brownBold';
	src: url(../asset/fonts/lineto-brown-bold.ttf) format("truetype");
}
@font-face {
	font-family: 'brownBoldItalic';
	src: url(../asset/fonts/lineto-brown-boldItalic.ttf) format("truetype");
}
@font-face {
	font-family: 'brownItalic';
	src: url(../asset/fonts/lineto-brown-italic.ttf) format("truetype");
}
@font-face {
	font-family: 'brownLight';
	src: url(../asset/fonts/lineto-brown-light.ttf) format("truetype");
}
@font-face {
	font-family: 'brownRegular';
	src: url(../asset/fonts/lineto-brown-regular.ttf) format("truetype");
}