@import "base";
@import "fonts";
@import "variables";
@import "header";
@import "footer";

/*
* CONTENT
*/
main {
	position: relative;
	#swiper {
		z-index: 2!important;

		.numero {
			color: green;
		}
	}
	.swiper-container .swiper-button-prev {
		top: 80%!important;
		left: 11.5%!important;
		background-image: none!important;
		width: 44px!important;
	}
	.swiper-container .swiper-button-next {
		top: 80%!important;
		left: 17.25%!important;
		background-image: none!important;
		width: 44px!important;
	}
	.swiper-container .swiper-pagination {
		bottom: 0!important;
    left: 11.5%;
    width: auto!important;
    top: 75px;
    .swiper-pagination-bullet {
    	margin-right: 50px;
    	background: $orange!important;
    }
	}
	.customSwiper {
		display: flex;
		justify-content: space-between;
		padding: 0 11.5% 182px 11.5%;
		box-sizing: border-box;
		.content {
			position: relative;
			width: auto;

			h2 {
				padding-top: 112px;
				width: 590px;
				font-family: brownBold;
				font-size: 40px;
				color: $black;
			}

			p {
				margin-top: 25px;
				width: 490px;
			  font-family: brownRegular;
			  font-size: 16px;
			  line-height: 1.67;
			  color: $black;
			}

			.orangeText {
				margin-top: 30px;
				color: $orange;
			}
		}
		.img1 {
			width: 490px;
			position: absolute;
			margin-top: 150px;
			right: 11.5%;
		}
		.img2{
			width: 625px;
			position: absolute;
			margin-top: 100px;
			right: 0;
		}
		.img3 {
			right: 11.5%;
			.character {
				width: 70px;
				margin: 30px 0 10px 80px;

				img {
					border: 2px solid $orange;
					border-radius: 50%;
				}
			}

			.quote {
				font-size: 24px;
				font-family: brownRegular;
				line-height: 36px;
				margin: 0 0 10px 80px;
			}
		}
	}

	.orangeBloc {
		width: 520px;
		height: 520px;
		background-color: $orange;
		background: url(../asset/fond_mockup.png);
		position: absolute;
		top: 100px;
		right: 0;
		z-index: 1;
	}

	/*
	* BLACK CONTAINER : TUTO
	*/
	.blackContainer {
		position: relative;
		height: 850px;
		background-color: $black;
		background: url(../asset/fond_confiance.png);
		background-position: center;
		.container {
			margin: 0 165px 0 165px;
			position: relative;
			z-index: 50;
				.grid {
					padding-top: 197px;
					display: flex;
					flex-wrap: wrap;
					.subtitle {
						display: flex;
						align-items: center;
						.img {
							width: 95px;
							height: 95px;
							background-color: rgba(255, 119, 57, 0.4);
							display: flex;
							justify-content: center;
							align-items: center;
							img {
								width: 50px;
							}
						}
						h3 {
							width: 351px;
							font-family: brownBold;
							font-size: 32px;
							color: $orange;
							margin-left: 40px;
						}
					}
					p {
						width: 351px;
						font-family: brownRegular;
						font-size: 20px;
						margin-top: 30px;
						color: $white;
					}
					.bloc2{
						margin-left: 130px;
					}
					.bloc3 {
						margin-top: 100px;
					}
					.bloc4 {
						margin-left: 130px;
						margin-top: 100px;
					}
				}
		}

		.textAnim {
			position: absolute;
			top: 0;
			margin-top: 600px;
			display: block;
			// animation: titleTracking 15s linear infinite;

			@keyframes titleTracking {
	      0% { left: 100%; }
	      100% { left: -100%; }
    	}
		}
	}

	/*
	* LAST CONTAINER : LES COMMENTAIRES A NE PAS MANQUER
	*/
		.lastBloc {
			position: relative;
			margin-top: 90px;
			margin-bottom: 140px;

			.blocCommentaire {
				display: flex;
				position: absolute;
				top: 0;
				margin-top: -140px;
				right: 0;
				.replay1 {
					width: 255px;
					cursor: pointer;
				}
				.replay2 {
					width: 255px;
					margin-left: 31px;
					cursor: pointer;
				}
				.replay3 {
					width: 230px;
					margin-left: 31px;
					cursor: pointer;
				}
			}

			.container {
				margin: 0 165px 0 165px;
				position: relative;
				h2 {
					margin-top: 87px;
					width: 395px;
					font-family: brownBold;
					font-size: 40px;
					color: $black;
				}
				.partners {
					display: flex;
					justify-content: space-between;
					margin-top: 235px;
					.img {
						width: 135px;
						height: 135px;
						// border: solid 1px $grey;
						// background-color: $lightgrey;
						display: flex;
						justify-content: center;
    					align-items: center;
					}
				}

				.newsletter {
					margin-top: 250px;
					.cadre {
						width: 732px;
						height: 122px;
						margin: 0 auto;
						align-items: center;
						background: url(../asset/path.png);
						background-repeat: no-repeat;
						background-position: center;
						display: flex;
						h2 {
							width: 530px;
							font-family: brownBold;
							font-size: 40px;
							margin: 0;
							margin-left: 33px;
							color: $orange;
						}
						button {
							border: none;
							width: 260px;
							height: 50px;
							background-color: $orange;
							font-family: brownBold;
							font-size: 16px;
							color: $white;
							margin-left: 62px;
							cursor: pointer;
						}
					}
				}
			}
		}
}
